* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    z-index: 1000;
    background-color: aquamarine;
}

.logo {
    width: 80px;
}

.nav ul li {
    display: flex;
    justify-content: space-between;
}

.nav button {
    width: 100%;
    height: 40px;
    margin: 10px;
    border: none;
    border-radius: 12px;
    background-color: white;
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
    color: black;
}

.nav button:hover {
    transform: translateY(3px);
    box-shadow: none;
    background-color: blue;
    color: white;
}

.container {
    display: flex;
    height: 100%;
    justify-content: space-between;
} 

.menu-left {
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: black;
    width: 300px;
    height: 100%;
}

.menu-right {
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 300px;
}